<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="Ekip.Framework.Data" type="Ekip.Framework.Data.Bases.NetTiersServiceSection, Ekip.Framework.Data" allowDefinition="MachineToApplication" restartOnExternalChanges="true"/>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Ekip.WinApp.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="EkipConnectionString" connectionString="data source=.; initial catalog=EkipDev; user id=sa; password=1q2w3e; MultipleActiveResultSets=true; Connection Timeout=30"/>
  </connectionStrings>
  <system.net>
    <mailSettings>
      <smtp from="infonisantasi@ekipnormarazon.com">
        <network host="mail.ekipnormarazon.com" port="587" userName="infonisantasi@ekipnormarazon.com" password="126811"/>
      </smtp>
    </mailSettings>
  </system.net>
  <appSettings>
    <add key="ClientFiles" value="D:\Ekip\ClientFiles\"/>
    <add key="ClientSettingsProvider.ServiceUri" value=""/>
    <add key="UseStoredProcedure" value="true"/>
    <add key="EnableEntityTracking" value="true"/>
    <add key="EntityCreationalFactoryType" value="Ekip.Entities.EntityFactory"/>
    <add key="EnableMethodAuthorization" value="false"/>
    <add key="DefaultCommandTimeout" value="600"/>
    <add key="ConnectionStringName" value="EkipConnectionString"/>
    <add key="ProviderInvariantName" value="System.Data.SqlClient"/>
  </appSettings>
  <startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/></startup></configuration>
