<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="Ekip.Framework.Data" type="Ekip.Framework.Data.Bases.NetTiersServiceSection, Ekip.Framework.Data" allowDefinition="MachineToApplication" restartOnExternalChanges="true"/>
  </configSections>
  <connectionStrings>
    <add name="EkipConnectionString" connectionString="Data Source=92.45.255.225;Initial Catalog=EkipDev;User ID=sa;Password=ekpAdmin2017*"/>
  </connectionStrings>
  <Ekip.Framework.Data defaultProvider="SqlNetTiersProvider">
    <providers>
      <add name="SqlNetTiersProvider" type="Ekip.Framework.Data.SqlClient.SqlNetTiersProvider, Ekip.Framework.Data.SqlClient" connectionStringName="EkipConnectionString" providerInvariantName="System.Data.SqlClient" entityFactoryType="Ekip.Framework.Entities.EntityFactory" useEntityFactory="true" enableEntityTracking="true" enableMethodAuthorization="false" useStoredProcedure="true"/>
    </providers>
  </Ekip.Framework.Data>
  <system.net>
    <mailSettings>
      <smtp from="infonisantasi@ekipnormarazon.com">
        <network host="mail.ekipnormarazon.com" port="587" userName="infonisantasi@ekipnormarazon.com" password="126811"/>
      </smtp>
    </mailSettings>
  </system.net>
  <appSettings>
    <add key="ClientFiles" value="D:\Ekip\ClientFiles\"/>
    <add key="ClientSettingsProvider.ServiceUri" value=""/>
    <add key="UseStoredProcedure" value="true"/>
    <add key="EnableEntityTracking" value="true"/>
    <add key="EntityCreationalFactoryType" value="Ekip.Entities.EntityFactory"/>
    <add key="EnableMethodAuthorization" value="false"/>
    <add key="DefaultCommandTimeout" value="600"/>
    <add key="ConnectionStringName" value="EkipConnectionString"/>
    <add key="ProviderInvariantName" value="System.Data.SqlClient"/>
  </appSettings>
  <!--<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup></configuration>-->
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup></configuration>
